@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background-color: hsl(0, 0%, 24%);
        min-height: 100vh;
    }

    :root {
        --color-primary: #F48023;
        --color-secondary: #E7E9EB;
        --color-text-primary: #F48023;
        --color-text-secondary: #E7E9EB;
    }
}

* {
    font-family: Poppins-regular, ubuntu, sans-serif;
    box-sizing: border-box;
}